@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
html, body {
  min-height: 100%;
}

body {
  background: radial-gradient(at top left, rgb(51, 51, 51) 0%, rgb(0, 0, 0) 100%);
  background-repeat: no-repeat;
}

/* textos */

footer p{
  color: #bdbdbd;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* layout & nav */
.layout {
  max-width: 1200px;
  margin: 0 auto;
}

.content{
  padding: 0 5%;
}

.fa {
  margin-right: 5px;
}

nav {
  vertical-align: top;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 85px;
  margin-bottom: 2%;
  padding: 0 5%;
}

nav .links ul {
  list-style: none;
  text-align: right;
}
nav .menu {
  align-self: right;
  display: none;
}

@media (max-width: 1200px) {
  nav .links ul {
    display: none;
  }
  nav .menu {
    display: grid;
    position: absolute;
    right: 5%;
    top: 5%;
    margin-top: 8px;
  }
}

nav .links ul li{
  vertical-align: bottom;
  line-height: normal;
  display: inline-block;
  margin-left: 4%;
  text-align: center;
}

nav a {
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  border-color: rgb(87, 61, 206);
}

nav h3 {
  vertical-align: bottom;
  line-height: 10px;
  text-align: left;
  font-family: 'Roboto Mono', monospace;
}

footer {  
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #212121;
    text-align: center;
}

span.pink {
  color: #9575cd;
  background: none;
}

span.blue {
  color: #4fc3f7;
  background: none;
}

span.highlight { 
  color: rgb(87, 61, 206);
  background: none;
}

