@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
  --text-color: black;
  --highlight-color: rgb(87, 61, 206);
  --bg-1: rgb(231, 231, 231);
  --bg-2: rgb(255, 255, 255);
  --menu-bg: #e4e4e4;
  --menu-hover: #d6d6d6;
  --shadow: rgba(0, 0, 0, 0.2);
  --span-blue: rgb(87, 61, 206);
  --card-bg: #535353;
  background: radial-gradient(at top left, var(--bg-1) 0%, var(--bg-2) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body.dark {
  --text-color: white;
  --highlight-color: rgb(62, 113, 209);
  --bg-1: rgb(51, 51, 51);
  --bg-2: rgb(0, 0, 0);
  --menu-bg: #242424;
  --menu-hover: #1d1d1d;
  --shadow: rgba(0,0,0,0.2);
  /*rgb(31, 144, 236)*/
  --span-blue: rgb(62, 113, 209);
  background: radial-gradient(at top left, var(--bg-1) 0%, var(--bg-2) 100%);
  background-repeat: no-repeat;
}

span.blue {
  color: var(--span-blue);
  background: none;
}

* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
}
html, body {
  min-height: 100%;
}

/* textos */

footer p{
  color: #bdbdbd;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* layout & nav */
.layout {
  max-width: 1200px;
  margin: 0 auto;
}

.content{
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

nav {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 2rem;
}

.logo {
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 55em) {
  .links {
    z-index: 998;
    padding: min(30vh, 10rem) 2rem;
    align-items: center;
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 70%;
    background: var(--menu-bg);
    transform: translateX(100%);
  }
  .mobile-nav-toggle {
    display: block;
    z-index: 999;
    width: 2rem;
    background: red;
    border: 0;
    aspect-ratio: 1;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .links[data-visible="true"]{
    transform: translateX(0%);
  }
}

footer {  
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #212121;
    text-align: center;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch-wrapper i{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.theme-switch {
  height: 1rem;
  position: relative;
  width: 2rem;

}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  content: "";
  height: 1rem;
  position: absolute;
  transition: .4s;
  width: 1rem;
}

input:checked + .slider {
  background-color: var(--highlight-color);
}

input:checked + .slider:before {
  transform: translateX(1rem);
}

.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}
